VITE_API_BASE_URL=/api/v1
VITE_KEYCLOAK_AUTHORITY=http://localhost:8085/realms/docplatform
VITE_KEYCLOAK_CLIENT_ID=docplatform-frontend
VITE_REDIRECT_URI=http://localhost:5173/callback
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
